<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="watchpath" value="C:\URChannel\SignalFiles" />
        <add key="Players" value="TCC-COBSTESTA0" />
        <add key="PlayerLabels" value="Left,Right" />
        <add key="Media" value="C:\URChannel\incoming\Media\KiehlsCommitment_Widescreen.mp4,C:\URChannel\incoming\Media\KIE_VDO_SERVICE_PAMPER_NIGHT.mp4" />
        <add key="Duration" value="18,28" />
        <add key="AssetType" value="Movie,Movie" />
        <add key="Top" value="0,0" />
        <add key="Left" value="0,0" />
        <add key="Width" value="1920,1920" />
        <add key="Height" value="1080,1080" />
        <add key="TriggerURL" value="http://cobbre.ur-channel.com/TriggerApp/TriggeredContentService/PostSignal" />
        <add key="TestURL" value="http://cobbre.ur-channel.com/TriggerApp/TriggeredContentService/sayhello" />
        <add key="UploadURL" value="http://cobbre.ur-channel.com/SelfieApp/PhotoHandler.ashx" />
        <add key="SelfieURL" value="http://cobbre.ur-channel.com/SelfieApp/Asset/common_" />
        <add key="PermanentKey" value="Permanent" />
        <add key="triggerGetHost" value="cobbre.ur-channel.com" />
        <add key="triggerGetPath" value="/TriggerApp/TriggeredContentService/" />
        <add key="Title" value="Kiehl's Commitment,Pamper Night" />
    </appSettings>
</configuration>
