<!DOCTYPE html> 
<html> 
<head>
<style type="text/css">
	video, object {
		width: 100%;
		height:100%;
		background-color: #333333;
	}

	html, body, iframe, div {
		margin:0px;
		padding:0px;
		max-height: 100%;
		max-width: 100%;
		color: #ffffff;
		background-color:#333333;
		overflow:hidden;
		overflow-x: hidden;
		overflow-y: hidden;
	}
</style>
</head>
<body class="ext-webkit ext-chrome"> 
<%- htmlOut %>
</body> 
</html>

